{% extends 'base.html' %}

{% block content %}


<div style="text-align: center;">

    <h1 style="color: black;">Kirish</h1>
    <br>
    <br>
    <div class="container-fluid d-flex justify-content-center mt-4">
        <div class="card p-4 border border-2 col-8">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% for login in log %}

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fs-4">{{ login.label }}</label>
                    {{ login }}
                    <small style="color: red;">{{ login.errors }}</small>
                </div>

                {% endfor %}
                
                <div class="text-center m-3">
                    <button type="submit" class="btn btn-primary col-3">Kirish</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}